[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Demo_Learn
[access "refs/*"]
	owner = group Anonymous Users
	owner = group user/PROJECT141
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Anonymous Users
	label-Code-Review = -2..+2 group user/PROJECT141
	label-Verified = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group user/PROJECT141
	push = group Anonymous Users
	push = group user/PROJECT141
	read = group user/PROJECT141
	rebase = group user/PROJECT141
	removeReviewer = group user/PROJECT141
	submit = group Anonymous Users
	submit = group user/PROJECT141
[access "refs/heads/*"]
	create = group Anonymous Users
	create = group user/PROJECT141
	push = group Anonymous Users
	push = +force group user/PROJECT141
	pushMerge = group user/PROJECT141
	read = group user/PROJECT141
[access "refs/tags/*"]
	push = group user/PROJECT141
	push = +force group user/PROJECT141
